node_modules/
node_modules/**
/node_modules/**
out/
*.vsix
.DS_Store
*.log
.env
.env.*
!.env.example
*.pem
*.key
secrets/
credentials.json
**/defaultOpenAiKey.ts
**/defaultOpenAiKey.js
**/defaultOpenAiKey.js.map
.vscode-test/
